// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$header-nav-height: 80px;
$aside-width: 300px;

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

main{
    margin-top: $header-nav-height;
}

header nav {
    min-height: $header-nav-height;
}


@media screen and (min-width: 768px) {
    aside #dashboard{
        margin-top: $header-nav-height;
        width: $aside-width;
    }

    #board{
        margin-left: $aside-width;
    }
}